/* font size - start */
@media (min-width: 992px) {
  .fsLg1dot5 {
    font-size: 2.25rem !important;
  }
  .fsLg3 {
    font-size: 1.75rem !important;
  }
  .fsLg4 {
    font-size: 1.5rem !important;
  }
  .fsLg4dot375 {
    font-size: 1.375rem !important;
  }
  .fsLg5 {
    font-size: 1.25rem !important;
  }
  .fsLg6 {
    font-size: 1rem !important;
  }
}
/* font size - end */

/* spacing - start */
.paddingTop20Percent {
  padding-top: 20%;
}
.paddingTop53Percent {
  padding-top: 53%;
}
.paddingTop75Percent {
  padding-top: 75%;
}
@media (min-width: 992px) {
  .paddingTopLg20Percent {
    padding-top: 20%;
  }
  .paddingTopLg30Percent {
    padding-top: 30%;
  }
  .paddingTopLg36Percent {
    padding-top: 36%;
  }
}
/* spacing - end */

/* boder - start */
@media (min-width: 992px) {
  .borderLgGray {
    border: 1px solid $color-gray;
  }
}
/* boder - end */

/* boder radius - start */
.radius8px {
  border-radius: 8px;
}
.radius12px {
  border-radius: 12px;
}
.radius20px {
  border-radius: 20px;
}
.radius24px {
  border-radius: 24px;
}
@media (min-width: 992px) {
  .radiusLg12px {
    border-radius: 12px;
  }
  .radiusLgEndNone {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .radiusLgStartNone {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
/* boder radius - end */

/* background - start */
@media (min-width: 992px) {
  .bgColorLgGrayLight {
    background: $color-gray-light;
  }
  .bgLgNone {
    background: none !important;
  }
}
/* background - end */

/* Text wrapping and overflow - start */
.textOverFlowHidden {
  overflow: hidden;
  // text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* Text wrapping and overflow - end */

/* cursor - start */
.cursorPointer {
  cursor: pointer;
}
/* cursor - end */

/* img - start */
.hoverImgBigger:hover {
  img {
    width: 110% !important;
    height: 110% !important;
  }
}
.objectFitCover {
  object-fit: cover;
}
.brightnessOdot6 {
  filter: brightness(0.6);
}
/* img - end */

/* z-index - start */
.zIndex1 {
  z-index: 1;
}
/* z-index - end */

/* transition - start */
.transitionSmooth {
  transition: 0.3s;
  transition-timing-function: ease-in-out
}
/* transition - end */

